<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="Images/favicon.png" type="image/x-icon">

    <title>AIverse</title>
</head>

<body>

    <!-- Navbar section Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar">
            <div class="container-fluid">
                <a href="#">
                    <img class="smrt" src="Images/intersect.svg" alt="">
                </a>
                <a class="navbar-brand fw-bold fs-3" href="#">AIverse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5 text-black">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">How It Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                    </div>
                <div class="d-flex align-items-center butoon">
                    <a href="#">
                        <img class="person m-0" src="../static/images/person-fill.svg" alt="">
                    </a>
                    <button type="button" class="log btn btn-link px-3 me-2">
                        Login
                    </button>
                    <button type="button" class="btn btn-primary me-3">
                        Sign-up
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!--Navbar section End-->

    <!-- Main section Start -->
    <div class="container-fluid" style="background-color: #F5F7FC; padding: 100px;">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12"
                style="display: flex; flex-direction: column; justify-content: center;">
                <h2 style="font-size: 42px; line-height: 1.2em; color: #212121; margin-bottom: 20px;">Explore the World of AI with AIverse
                    <img class="quote" src="Images/chat-left-quote.svg" alt="">
                </h2>
                <p style="margin-bottom: 35px; font-size: 20px; line-height: 30px; font-weight: 400; color: #454545;">
                    Unleashing the Power of Artificial Intelligence for Everyone.
                </p>

                <form action="">
                    <img src="Images/mail.png" alt="">
                    <input type="email" class="mail form-control-plaintext bg-white w-50 d-inline" id="staticEmail"
                        value="" placeholder="Enter Your Email Address">
                    <button class="btn btn-danger me-5 p-2">Get Started!</button>
                    <br> <br>
                    <img src="Images/check.svg" alt="">
                    <p class="d-inline">Free 30-Day Trial</p>
                    <img src="Images/check.svg" alt="">
                    <p class="d-inline">Money Back Guarantee</p>
                </form>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
                <img class="mx-5" src="Images/pic 1.png" alt="">
            </div>
        </div>
    </div>
    <!-- Main section End -->


    <!-- How It Works 1 section Start -->
    <div style="padding: 100px;">
        <h2 class="text-center">How It Works</h2>

        <div class="fluid-container" style="padding: 0px;">
            <div class="row">
                <div class="fluid-container work">
                    <div class="row">

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service">
                                <img src="./Images/megaphone.svg" width=46; alt="">
                                <h4>Choose Your Tool</h4>
                                <p>Browse our collection of AI tools and select the one that fits your needs, from generating creative content to analyzing data.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service">
                                <img src="./Images/gem.svg" width=46; alt="">
                                <h4>Provide Your Input</h4>
                                <p>Simply enter your requirements or upload your data. Our smart AI systems will process it within seconds.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service">
                                <img src="../static/images/speedometer2.svg" width=46; alt="">
                                <h4>Get Results Instantly</h4>
                                <p>Receive precise, actionable, and innovative results instantly, ready for your personal or professional use</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- How It Works 1  section End -->


    <!-- Trusted section Start -->
    <div class="fluid-container" style="background-color: #f5f7fc; padding: 90px;">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 text-center padding-bottom-20">
                <h3 style="font-size: 28px; margin-bottom: 20px;">Trusted By Over 9,000+ Businesses</h3>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-1"></div>

            <div class="col-md-2 col-xs-6">
                <div class="our-partners">
                    <img src="../static/images/pngwing.com.png" class="width-100" alt="pic">
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="our-partners">
                    <img src="../static/images/pic 11.png" class="width-100" alt="pic">
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="our-partners">
                    <img src="../static/images/pngwing.com (2).png" class="width-100" alt="pic">
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="our-partners">
                    <img src="../static/images/pngwing.com (3).png" class="width-100" alt="pic">
                </div>
            </div>

        </div>
    </div>
    <!-- Trusted section End -->


    <!-- Discover section Start -->
    <div class="fluid-container" style="background-color: #FFFF; padding: 100px;">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h2>Discover how we can help you to grow your business fast.</h2>
                <br>
                <p style="color: grey;">From content generation to predictive analysis, AIverse offers tools that redefine what's possible.</p>
                <img src="Images/check - Copy.svg" alt="">
                <p class="d-inline">Designed for everyone, AIverse is intuitive, seamless, and easy to navigate.</p> <br>
                <img src="Images/check - Copy.svg" alt="">
                <p class="d-inline">Venis ratione sequi netus enim tempor magni. <br>
                    <img src="Images/check - Copy.svg" alt="">
                </p>
                <p class="d-inline">Tailor AI tools to meet your unique needs, making AI work for you, your way.</p>
                <form action="">
                    <br>
                    <button class="btn btn-primary me-3">Discover More</button>
                </form>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12">
                <img class="mx-5" src="../static/images/pic 14.png" alt="">
            </div>
        </div>
    </div>
    <!-- Discover section End -->

    <!-- Facts section Start -->
    <div style="padding: 100px;">
        <h2 class="text-center">Fun Facts About Our Agency</h2>

        <div class="container" style="padding: 0px;">
            <div class="row">
                <div class="container">
                    <div class="row" style="margin: auto;">
                        <div class="col-md-2 col-lg-2 col-sm-12 mx-5">
                            <div class="service1" id="src">
                                <img src="./Images/gift-fill.svg" width=46; alt="">
                                <h4>1050+</h4>
                                <p>Completed</p>
                            </div>
                        </div>

                        <div class="col-md-2 col-lg-2 col-sm-12">
                            <div class="service1">
                                <img src="Images/heart-fill.svg" width=46; alt="">
                                <h4>20k</h4>
                                <p>Happy Clients</p>
                            </div>
                        </div>

                        <div class="col-md-2 col-lg-2 col-sm-12">
                            <div class="service1">
                                <img src="Images/award-fill.svg" width=46; alt="">
                                <h4>1210</h4>
                                <p>Design Awards</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-12">
                            <div class="service1">
                                <img src="Images/basket3-fill.svg" width=46; alt="">
                                <h4>500</h4>
                                <p>AI Innovations</p>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-12">
                            <div class="service1">
                                <img src="Images/bell-fill.svg" width=46; alt="">
                                <h4>300+</h4>
                                <p>AI Models Deployed</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts section End -->

    <!-- Team section Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center team">
                <h2>Meet Our Team</h2>
            </div>
            <div class="col-sm-12 col-md-4 col-sm-12 margin-top-30">
                <img src="../static/images/person-fill.svg" class="team-img width-100" alt="pic">
                <div class="team-item">
                    <h4>Rithesh Kumar G K</h4>
                    <div class="team-info">
                        <p>Founder of AIverse</p>
                    </div>
                    <p class="p-team">Rithesh is our head and has developed search strategies for a variety of
                        clients for over 5 years.</p>
    
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-sm-12 margin-top-30">
                <img src="../static/images/person-fill.svg" class="team-img width-100" alt="pic">
                <div class="team-item">
                    <h4>Santhosh D </h4>
                    <div class="team-info geen">
                        <p>Developer</p>
                    </div>
                    <p class="p-team">Santhosh fell in love with developing variety of AI at the school and looks forward to being part
                        of the industry for years.</p>
            
                </div>
            </div>

            <div class="col-sm-12 col-md-4 col-sm-12 margin-top-30">
                <img src="../static/images/person-fill.svg" class="team-img width-100" alt="pic">
                <div class="team-item">
                    <h4>Sai Sanjai S</h4>
                    <div class="team-info green">
                        <p>AIverse Specialist</p>
                    </div>
                    <p class="p-team">Sanjai is a well versed graduate in EIE and even with specialised in the Coding Knowledge.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Team section Start -->

    <!-- How it Works section Start -->
    <div class="fluid-container" style="background-color: #f5f7fc; padding: 100px;">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h2>How It Works.</h2>
                <br>
                <p style="color: grey;">AIverse makes leveraging artificial intelligence easy and seamless.<br> 
                    Follow these simple steps to get started with your AI journey. 
                <p class="mb-0 fw-bold fs-5">Linkedin</p>
                <img class="mt-1 " src="Images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-half.svg" alt="">
                <div class="line"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-lg-6 col-sm-12 up">
                <p class="mb-0 fw-bold fs-5">Upwork</p>
                <img class="mt-1" src="Images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">   
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
                <img src="../static/images/star-fill.svg" alt="">
            </div>
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img style="width: 46px;
                        height: 46px;
                        margin-right: 10px;
                        padding: 10px 10px;
                        color: #27b36a;
                        font-size: 20px;
                        line-height: 20px;
                        border: 2px solid #27b36a;
                        border-radius: 50%;" src="Images/pencil-fill.svg" alt="">
                        Create Account
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Get started by creating your account in just a few easy steps.
Secure your credentials and gain instant access to our platform. Begin your journey into the world of AI with AIverse.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <img style="width: 46px;
                        height: 46px;
                        margin-right: 10px;
                        padding: 10px 10px;
                        color: #27b36a;
                        font-size: 20px;
                        line-height: 20px;
                        border: 2px solid #27b36a;
                        border-radius: 50%;" src="Images/bar-chart-line-fill.svg" alt="">
                        Choose Package
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Explore a variety of plans tailored to suit your needs.
Whether you're an individual or a team, there's something for everyone.
Pick the package that aligns with your goals and budget.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <img style="width: 46px;
                        height: 46px;
                        margin-right: 10px;
                        padding: 10px 10px;
                        color: #27b36a;
                        font-size: 20px;
                        line-height: 20px;
                        border: 2px solid #27b36a;
                        border-radius: 50%;" src="Images/hand-thumbs-up-fill.svg" alt="">
                        Enjoy AIverse
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Dive into the innovative tools and features of AIverse.
Transform your ideas into reality with the power of AI.Experience efficiency, creativity, and limitless possibilities
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- How it Works section End -->

    <!-- Pricing Section Start -->
    <div style="padding: 100px;">
        <h2 class="text-center">Pricing for every business, at any stage</h2>

        <div class="fluid-container" style="padding: 0px;">
            <div class="row">
                <div class="fluid-container work">
                    <div class="row">

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service2">
                                <h4>BASIC</h4>
                                <h1>₹599</h1>
                                <p>Per Month</p>
                                <ul class="price">
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Perfect for beginners.
                                    </li>
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Essential  AI tools
                                    </li>
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Limited  15 Gb Data storage
                                    </li>

                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Monthly updates
                                    </li>
                                </ul>
                                <form action="">
                                    <br>
                                    <button class="btn btn-outline-primary me-3 p-2">Free 15-Day Trial</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service2">
                                <h4>STANDARD</h4>
                                <h1>₹999</h1>
                                <p>Per Month</p>
                                <ul class="price">
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Ideal for professionals.
                                    </li>
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Full access
                                    </li>
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        More 50 Gb storage 
                                    </li>

                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Premium resources
                                    </li>
                                </ul>
                                <form action="">
                                    <br>
                                    <button class="btn btn-primary me-3 p-2">Free 15-Day Trial</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service2">
                                <h4>ENTERPRISE</h4>
                                <h1>₹1999</h1>
                                <p>Per Month</p>
                                <ul class="price">
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Best for businesses
                                    </li>
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Unlimited access
                                    </li>
                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        Custom solutions
                                    </li>

                                    <li>
                                        <img src="Images/check-circle-fill.svg" alt="">
                                        24/7 Priority Support
                                    </li>
                                </ul>
                                <form action="">
                                    <br>
                                    <button class="btn btn-outline-primary me-3 p-2">Free 15-Day Trial</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing Section End -->

    <!-- Amazing Feature Section Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="amazing">
                <img src="Images/Amazing.png" alt="" width="101%">
            </div>
        </div>
    </div>
    <!-- Amazing Feature Section End -->

    <!-- Quote Section Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="amazing">
                <img src="Images/people.png" alt="" width="101%">
            </div>
        </div>
    </div>
    <!-- Quote Section End -->

    <!-- Blog Section Start -->
    <div style="padding: 100px;">
        <h2 class="text-center text-black fs-2" style="background-color: #f5f7fc;">Our Blog</h2>

        <div class="fluid-container" style="padding: 0px; background-color: #f5f7fc;">
            <div class="row">
                <div class="fluid-container work">
                    <div class="row">

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service3">
                                <img src="./Images/pic 19.jpg" width=400; alt="">
                                <h4>The Future of AI: What’s Next?</h4>
                                <p>As AI continues to evolve, new possibilities and innovations are emerging every day. In this blog, we explore the potential breakthroughs in AI technology and what they could mean for industries worldwide.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service3">
                                <img src="./Images/pic 20.jpg" width=400; alt="">
                                <h4>How AI is Transforming Businesses
                                </h4>
                                <p>AI is revolutionizing how businesses operate, making processes more efficient and data-driven. Learn how companies are using AI for automation, customer insights, and improving customer experiences.</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4 col-sm-12">
                            <div class="service3">
                                <img src="./Images/pic 21.jpg" width=400; alt="">
                                <h4> Understanding AI: A Beginner's Guide</h4>
                                <p>This blog provides a simple introduction to the basics of AI, including machine learning, neural networks, and how they all work together to create smarter solutions.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Section End -->

    <!-- Form Section Start -->
    <div class="container-fluid" style="background-color: #FFFF;">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <h3 style="margin-left: 200px;">Get in Touch</h3>
                <form action="" style="margin-left: 200px;">
                    <input style="background-color: #F6F7F8;" type="text" id="staticName" value=""
                        placeholder="Full Name">
                    <br>
                    <input style="background-color: #F6F7F8;" type="email" id="staticEmail" value=""
                        placeholder="Email Address">
                    <br>
                    <input style="background-color: #F6F7F8;" type="text" id="staticNumber" value=""
                        placeholder="Phone Number">
                    <br>
                    <textarea style="background-color: #F6F7F8;" placeholder="Your Message..." name="" id="msg"
                        cols="70" rows="10"></textarea>
                    <button class="btn btn-primary p-2.5">Send Message</button>
                </form>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <img class="head" src="Images/head.png" alt="">
                </div>
            </div>
        </div>
        <!-- Form Section End -->

        <!-- Footer Section Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <img style="margin-right: -150px;" src="Images/footer.png" alt="" width="1200px">
                </div>
            </div>
        </div>
        <!-- Footer Section End -->



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

</html>